<html>
    <header>
        <title>loginpage</title>
    </header>
    <div class="container">
        
    <body>
            <div class="logins">
                <h1 >LOGIN</h1>
            </div>
        <div class="inputs">
        <form>
            <label>Username:</label><br>
            <input type="text"><br><br>
            <label>Email:</label><br>
            <input type="email"><br><br>
            <label >Password:</label><br>
            <input type="password"><br><br><br>

            <button type="submit">Submit</button>
        </form>
        
        </div>
    
            <style>
                .container{
                    align-content: center;
                }
                .inputs{
                    align-content: center;
                    display: flex;
                }
                .logins{
                    align-items: center;
                }

                
            </style>
        
    </body>
</html>